
ul
{
  padding: 0px;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: brown;
  text-align: center;
  list-style: none;
  
  
}
#heading{
  text-align: center;
  
}
#book{
  text-align: center;

}
  



div nav ul li a{
  text-decoration: none;
  color: white;
}
div nav ul{
  justify-content: space-around;
}
.signo{

  text-align: center;
}
.Home{
  margin-top: 10px;
  padding: 0px;
  height: 10px;
  width: 8rem;
}
.signup {
  background-color: rgb(187, 116, 116);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#register{
  color: white;
}
#update{
  color:black;
}
.active{
  background-color: #fff;
  color: black;
}
#ab{
  color: black;
  background-color: rgb(138, 128, 128);
}
#holiday{
  height: 300px;
  width: 200px;
}
.admin,th{
  color: black;
  text-align: center;
}
.admin{
  background-color: rgb(67, 97, 67);
  

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.admin,h1{
  color: white;
}
.login{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: orange;
}
.book,h1{
  color: black;

}
.form1{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(102, 102, 29);
  color:white;
}
.admin,h1{
  text-align: center;
}
form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
button {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
table th {
  padding: 8px;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

table td input {
  width: 90%;
}

.actions button {
  margin-right: 5px;
}
